
@{
    ViewData["Title"] = "Login";
}

<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="~/bilder/1Evenue.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Logga in</h1>
        <label for="inputEmail" class="sr-only">E-postadress</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="E-post" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Lösenord" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Kom ihåg mig
            </label>
        </div>
        <button class="btn btn-lg btn-dark btn-block" id="grad-btn" type="submit">Logga in</button>
    </form>
    <br />
    <br />
    <br />

</body>

